.#*
.DS_Store
atlassian-ide-plugin.xml
*.iml
*.iws
*.ipr
*.log
*.pyc
.history
.idea/
.idea_modules/
.project
.classpath
.scala_dependencies
.cache
.settings
.target/
target
project/boot/
project/build/target/
project/plugins/target/
project/plugins/project/
project/plugins/lib_managed/
project/plugins/src_managed/
project/project/
project/target/
out
dumps